<% content_for :head do %>
  <%# reads manifest.json and sources actual file - see WebpackHelper %>
  <%= webpack_css_tag 'app.css' %>
<% end %>

<div id="app"></div>

<%# reads manifest.json and sources actual file - see WebpackHelper %>
<%= webpack_js_tag 'chunk-vendors.js' %>
<%= webpack_js_tag 'app.js' %>
